

.card{
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 0px;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#head{
  padding: 25px 0px 0px 20px;
}

.card-body{
  margin-top: 15px;
  background-color: aliceblue;
  border-radius: 15px;
 
}
.form-group{
  padding: 5px;
}

button{
  background-color: cornflowerblue;
  border: none;
  border-radius: 3.14px;
  padding: 5px 10px;
}